@import '~antd/dist/antd.css';


.button-block {
  margin-top: -1px;
}

.forms {
  border-radius: 2%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-right: 45px;
  width: 400px;
  height: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
